@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Lato";
	box-sizing: border-box;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to left, #616060, #b0b6b9);
	color: #FFF;
	height: 50px;
	padding: 1em;
}
.logo-div a{
	text-decoration: none;
	color: #fff;
}
.logo-div{
	padding: 0 25px;
	display: flex;
	gap: 10px;
	align-items: center;
}
.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

.menu>li {
	margin: 0 1rem;
	overflow: hidden;
	cursor: pointer;
}

.menu-button-container {
	display: none;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: #fff;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: '';
	margin-top: -8px;
}

.menu-button::after {
	content: '';
	margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

/* 														LEFT BOX */
.property-section {
	display: flex;
	height: 950px;
}
.p-value{
	color: #fff;
	display: flex;
}
.left-aside {
	width: 30%;
	height: 100%;
	background-color: #E8E8E8;
}

ul.tabs {
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}


.filt-menu {
	padding: 50px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 36px 80px;
}


.h1-value {
	display: flex;
}

.filt-button {
	cursor: pointer;
	width: 77px;
	height: 33px;
	background-color: #BBBFCA;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.right-main {
	display: flex;
	width: 70%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(./img/bac\ img.png);
	flex-direction: column;
	padding: 50px;
	gap: 100px;
}

.right-main h1{
	color: #fff;
}

.right-main p {
	margin-left: 100px;
}

.build {
	color: #202323;
	width: 250px;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50px;
	background-color: #C45E59;
	border: none;
	box-shadow: inset 0px 0px 10px 2px #000000;
}

.build:hover {
	cursor: pointer;
}

.footer {
	background: linear-gradient(to left, #0a2351, #2780a3);
	color: #fff;
	font-size: 18px;
	padding: 20px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.footer-left p {
	margin: 0;

}

.footer-links {
	list-style: none;
	margin: 0;
}

.footer-links li {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 20px;
}

.footer-links li a {
	color: #fff;
	text-decoration: none;
}

.footer-links li a:hover {
	text-decoration: underline;
}


.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
}

.create-atribute-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	gap: 10px;
}

.create-header {
	width: 120px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.5);
	border-radius: 38.3571px;
	border: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: #47494E;
}

hr {
	margin-top: 25px;
	width: 100%;
	background-color: #BBBFCA;
	padding-top: 2px;
	border: none;
}

.atribute-box-text {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #878A92;
}

.your-header {
	padding: 10px 90px 10px 10px;
	border: none;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	outline: 0;
}

.your-button {
	padding: 10px 90px 10px 10px;
	border: none;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	outline: 0;
}

.your-text {
	padding: 10px 90px 10px 10px;
	border: none;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	outline: 0;
}

.your-image {
	padding: 10px 90px 10px 10px;
	border: none;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	outline: 0;
}

.create-box-button-parent {
	display: flex;
	gap: 20px;
}

.header-creat-box-button {
	width: 82px;
	height: 31px;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15.5px;
	border: none;
	color: #47494E;
}


.margin-box-property {
	margin: 10px;
	width: 280px;
	height: 226px;
	background: rgba(217, 217, 217, 0.4);
	box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
	border-radius: 81px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.margin-property {
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.header-margin {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.header-font-size {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.button-font-size {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.button-margin {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.button-creat-box-button {
	width: 82px;
	height: 31px;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15.5px;
	border: none;
	color: #47494E;
}

.text-creat-box-button {
	width: 82px;
	height: 31px;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15.5px;
	border: none;
	color: #47494E;
}

.text-font-size {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.text-margin {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}

.image-padding {
	width: 120px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	outline: 0;
	background: #D9D9D9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #47494E;
}
























@media (max-width: 700px) {
	.menu-button-container {
		display: flex;
	}

	.menu {
		position: absolute;
		top: 0;
		margin-top: 50px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	#menu-toggle:checked~.menu li {
		border: 1px solid white;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: #0a2351;
	}

	.menu>li:not(:last-child) {
		border-bottom: 1px solid white;
	}
}